@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  text-align: center;
  font-family: MONTSERRAT;
  background-color: #EEEDF7;
  color: #231F20;
}

p{
  font-size: 25px;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

h4 {
  font-weight: normal;
}

h5, button {
  font-size: 20px;
  text-align: left;
}

h1, h4 {
  background-color: #7D6EE0;
}

h6{
  margin-top: 0px;
  background-color: #BB4430; 
  color: #BB4430;
}

button {
  background-color: #EEEDF7;
  border: none;
  transition-duration: 0.4s;
  font-weight: bold;
}

button:hover {
  background-color: #F3DFA2;
}

a {
  color: #231F20;
}

table:hover {
  background-color: #E1DBFF;
}

th, td{
  padding: 0px 20px;
}

img, .caption {
  box-shadow: 5px 5px 5px #999; 
}

#clipart{
  box-shadow: 0px 0px 0px;
  margin-left: auto;
}

ol, ul{
  text-align: left;
}

.navigation {
  margin: auto;
  border-collapse: separate;
  border-spacing: 70px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navigation:hover {
  background: #EEEDF7
}

ul a{
  color: #4E969C;
}
